body {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  background-color: #121214;
  color: #fff;

  width: 100%;
  height: 100vh;

  display: flex; /* o que tiver ali dentro vao se comportar como caixar*/
  flex-direction: column; /* para ficar uma caixa abaixo da outra*/
  align-items: center; /* alinhamento eixo x*/
  justify-content: center; /* alinhamento eixo y*/
}

body, button, input {
  font-family: 'Roboto', sans-serif;
}